body{
    background-color: rgb(219, 162, 236);
}


#ESPACIO1{
    background-color: rgb(145, 96, 223);
}

#Cientificos{
    background-color: rgb(162, 236, 132);
}

#Animales{
    background-color: rgb(235, 222, 109);
}